<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism</title>
    <link rel="stylesheet" href="../static/onvisit.css">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="logo_area">
                <a href="#">
                    <!--<img src="img/logo.png" alt="logo">-->
                    <h1>On-Visit</h1>
                </a>
            </div>
            <div class="menu_area">
                <ul>
                    <li><a href="#travel">TRAVEL</a></li>
                    <li><a href="#food">FOOD</a></li>
                    <li><a href="#language">LANGUAGE</a></li>
                    <li><a href="#places">PLACES</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="info">
        <h1>{{place}}'s Culture</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fuga est optio unde impedit eligendi minima expedita perspiciatis at quod eum! <br>Deserunt voluptatem excepturi modi? Cumque molestias soluta inventore nisi perferendis.</p>    
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="extra">
        <div class="travel" id="travel">
            <h2>TRAVEL</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fuga est optio unde impedit eligendi minima expedita perspiciatis at quod eum! <br>Deserunt voluptatem excepturi modi? Cumque molestias soluta inventore nisi perferendis.</p>
        </div>
            <h2 id="food">FOOD</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fuga est optio unde impedit eligendi minima expedita perspiciatis at quod eum! <br>Deserunt voluptatem excepturi modi? Cumque molestias soluta inventore nisi perferendis.</p>
            <h2 id="language">LANGUAGE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fuga est optio unde impedit eligendi minima expedita perspiciatis at quod eum! <br>Deserunt voluptatem excepturi modi? Cumque molestias soluta inventore nisi perferendis.</p>
            <h2 id="places">PLACES</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Fuga est optio unde impedit eligendi minima expedita perspiciatis at quod eum! <br>Deserunt voluptatem excepturi modi? Cumque molestias soluta inventore nisi perferendis.</p>
    </div>    
</body>
</html>